body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.navbar {
  padding: 30px 7px 10px 5px;
}

.wbdv-home {
  color: grey;
  text-decoration: none;
}

.wbdv-home:hover {
  color: #3e3e3e;
}


.wbdv-heading {
  font-weight: 300;
}

.form-select, .form-control {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 13px;
}

.table {
  margin-bottom: 0;
}

th {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

tbody {
  color: grey;
}

.table td, .table th {
  border-top: none;
  padding: 12px 8px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
}


.wbdv-thead {
  font-weight: 500;
  font-size: 13px;
  color: #4c4c4c;
  border-bottom: 1px solid #d0d0d0;
  text-transform: uppercase;
}

.wbdv-icon {
  color: #FF4D4D;
  font-weight: 400;
  font-size: 18px;
}

.wbdv-icon:hover {
  color: #B33636;
}


table .wbdv-form-icons {
  padding-top:18px;
  white-space: nowrap;
}

button {
  border: none;
  background-color: white;
}

button:focus {
  outline: none;
}