body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.wbdv-heading {
  font-weight: 300;
  margin: 15px auto;
}

.form-select, .form-control {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

th {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

tbody {
  color: grey;
}

.table td, .table th {
  border-top: none;
  padding: 16px 8px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
}

/*.wbdv-tbody td, .wbdv-thead th {*/
/*  padding-left: 25px;*/
/*}*/

.wbdv-table-wrapper {
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.wbdv-thead {
  font-weight: 500;
  font-size: 13px;
  color: #4c4c4c;
  border-bottom: 1px solid #d0d0d0;
  text-transform: uppercase;
}

.wbdv-icon {
  color: #FF4D4D;
  font-weight: 400;
  font-size: 18px;
}

.wbdv-edit {
  /*margin-left: 12px;*/
}

.wbdv-form-icons {
  padding-top:15px;
}