body {
  background-color: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding-top: 15px;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:visited {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}

.wbdv-nav-plus {
  padding: 10px;
}

.navbar-brand {
  padding-left: 10px;
}


.wbdv-nav-menu {
  color: black;
}

.btn-outline-secondary {
  color: black !important;
  border-color: black !important;
  background-color: white !important;
}

.btn-outline-secondary:hover {
  color: #6c757d !important;
  background-color: #e8e8e8 !important;
}

.wbdv-table-wrapper {
  background-color: white;

}

.wbdv-thead {
  font-weight: 500;
  font-size: 14px;
  color: #4c4c4c;
  border-bottom: 1px solid #d0d0d0;
}

/*Text align*/
td {
  text-align: center;
}

tbody {
  color: grey;
  font-size: 15px;
}

.wbdv-time {
  color: #606060;
}

.navbar {
  background-color: white;
}

.fa-trash-alt {
  color: red;
}