body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
    background-color: #FF4D4D;
}

.wbdv-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.wbdv-login-box {
    max-width: 350px;
    height: 400px;
    background-color: white;
    padding: 40px 20px;
    border-radius: 20px;
    margin: 0 auto;
}

#wbdv-login {
    background-color: #FF4D4D;
    color: white;
    font-size: 15px;
}

#wbdv-login:hover {
    background-color: #B33636;
}

a:link {
    text-decoration: none;
    color: grey;
}

a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: #FF4D4D;
}

